STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
FLASK_SECRET_KEY=
ALLOWED_ORIGIN=
SUCCESS_URL=
CANCEL_URL=
STAFF_USER_1=
STAFF_PASS_1=
STAFF_USER_2=
STAFF_PASS_2=
MANAGER_USER=
MANAGER_PASS=
SENDGRID_API_KEY=
FROM_EMAIL=
COURSE_NAME=
